{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus in sint incidunt quasi aliquam dolorum ipsam inventore, exercitationem, praesentium officia iusto atque voluptatibus consequuntur amet, temporibus sequi mollitia esse perspiciatis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis porro magni eum amet, adipisci velit vel fugit excepturi, quaerat, molestiae inventore voluptatibus. Dolorem, inventore ad. Velit officiis libero quod cumque!</p>
    </div>
    <div class="col-4">
        <img src="../public/assets/img/watame.jpg" alt="foto" >
    </div>
</div>
{{> footer}}